<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="speech.niyo.com.niyospeech" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name="speech.niyo.com.niyospeech.NiyoApplication"
        android:allowBackup="true"
        android:icon="@drawable/speak"
        android:label="@string/app_name" >
        <activity
            android:name="speech.niyo.com.niyospeech.SettingsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="speech.niyo.com.niyospeech.NiyoNotifService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name="speech.niyo.com.niyospeech.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="speech.niyo.com.niyospeech.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="speech.niyo.com.niyospeech.WelcomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" >
        </activity>

        <provider
            android:name="speech.niyo.com.niyospeech.SpeechProvider"
            android:authorities="com.niyo.speech.provider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <receiver
            android:name="speech.niyo.com.niyospeech.WifiReciever"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="speech.niyo.com.niyospeech.BTReciever"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />

                <category android:name="com.niyo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />

                <category android:name="com.niyo" />
            </intent-filter>
        </receiver>

        <service
            android:name="speech.niyo.com.niyospeech.AnnouncingService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<service-->
            <!--android:name="speech.niyo.com.niyospeech.ReceiveTransitionsIntentService"-->
            <!--android:exported="false" >-->
        <!--</service>-->

        <receiver
            android:name="speech.niyo.com.niyospeech.ShutUpReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name="speech.niyo.com.niyospeech.LangActivity"
            android:label="@string/title_activity_lang" >
            <intent-filter>
                <action android:name="speech.niyo.com.niyospeech.LangActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
