<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="speech.niyo.com.niyospeech" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/speak"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NiyoNotifService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <provider
            android:name=".SpeechProvider"
            android:authorities="com.niyo.speech.provider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <receiver
            android:name=".WifiReciever"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_NETWORK_STATE" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BTReciever"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />

                <category android:name="com.niyo" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AnnouncingService"
            android:exported="false" >
        </service>
    </application>

</manifest>
